<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head th:insert="Admin/import.html">
<body>
	<div class="all" style="display: flex;">
		<div th:insert="Employee/slideBar.html" style="height: 100%;"></div>
		<div class="wrapper-table-list-customer">

			<section>

				<div class="container d-flex" style="flex-direction: column;">


					<p class="text-center h1 fw-bold mx-1 mx-md-4">Receipt</p>
					<p class="text-center h5">ID:[[${receipt.id}]]</p>
					<form class="mx-1 mx-md-4" th:action="@{/Employee/createReceipt}" method="post">
						<div class="row d-flex justify-content-center align-items-center h-100 w-100">
							<div class="col-lg-12 col-xl-11">
								<div class="text-black" style="border-radius: 25px;">
									<div class="card-body p-md-5"
										style="padding-top: 0px !important;">
										<div class="row" style="flex-direction: column; align-items: center;">
											<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-user fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="date" id="form3Example1c" class="form-control" th:value="@{${receipt.dateimport}}" readonly="readonly" style="width: 200px;" /> 
														<label class="form-label" for="form3Example1c">order date</label>
													</div>
												</div>

												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-user fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="text" id="form3Example1c" class="form-control" th:value="@{${receipt.producer.nameproducer}}" readonly="readonly" style="width: 200px;" />
														<label class="form-label" for="form3Example1c">Producer</label>
													</div>
												</div>

												<th:block th:if="${receipt.employee}">
													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															<input type="text" id="form3Example1c" class="form-control" th:value="@{${receipt.employee.id}}" readonly="readonly" style="width: 200px;" /> 
																<label class="form-label" for="form3Example1c">ID Creator:</label>
														</div>
													</div>

													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															<input type="text" id="form3Example1c" class="form-control" th:value="Employee" readonly="readonly" style="width: 200px;" /> 
															<label class="form-label" for="form3Example1c">Position Creator:</label>
														</div>
													</div>
												</th:block>

												<th:block th:if="${receipt.admin}">
													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															<input type="text" id="form3Example1c" class="form-control" th:value="@{${receipt.admin.username}}" readonly="readonly" style="width: 200px;" /> 
																<label class="form-label" for="form3Example1c">ID Creator:</label>
														</div>
													</div>

													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															<input type="text" id="form3Example1c" class="form-control" th:value="Admin" readonly="readonly" style="width: 200px;" /> 
															<label class="form-label" for="form3Example1c">Position Creator:</label>
														</div>
													</div>
												</th:block>


												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-user fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<label class="form-label" for="form3Example1c">Total amount:[[${receipt.total}]]</label>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<h2>Table Account Customer</h2>
							<p style="color: red;">[[${message}]]</p>
							<table class="table table-hover mt-5">
								<thead style="background-color: #353a40; color: #ccc;">
									<tr>
										<th>id</th>
										<th>Name</th>
										<th>Quantity</th>
										<th>Date</th>
										<th>unitprice</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody th:each="product : ${listProduct}">

									<tr>
										<td>[[${product.id}]]</td>
										<td>[[${product.nameproduct}]]</td>
										<td>
											<i class="fa-solid fa-minus"></i> 
											<input type="number" value="0" th:id="inputQuantity" th:name="@{quantity{id}(id=${product.id})}" readonly="readonly" style="width: 50px;"> 
											<i class="fa-solid fa-plus"></i>
										</td>
										<td>[[${product.productdate}]]</td>
										<td>
											<input type="number" value="0" th:name="@{unit{id}(id=${product.id})}" th:id="inputProductdate" style="width: 150px;">
										</td>
										
										<td id="total">0</td>
									</tr>

								</tbody>

							</table>
						</div>



						<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
							<button type="submit" class="btn btn-primary btn-lg">Save</button>
						</div>
					</form>


				</div>


			</section>

		</div>

	</div>

	<script>
		var pluss = document.querySelectorAll(".fa-plus");
		
		pluss.forEach( plus =>{
				plus.addEventListener("click", function (e){
				
					var quantity = plus.closest("td");
					quantity = quantity.querySelector("input");
					quantity.value = Number(quantity.value) +1;
					
					
					
					var tr = plus.closest("tr");
					
					var unit = tr.querySelector("#inputProductdate");
					
					
					
					var total = tr.querySelector("#total");
					var num = (Number(quantity.value) *Number(unit.value));
					total.innerText = num.toFixed(1);
			});
			}
		)
		
		
		var minuss = document.querySelectorAll(".fa-minus");
		minuss.forEach(minus=>{
			minus.addEventListener("click", function (e){
					var quantity = minus.closest("td");
					quantity = quantity.querySelector("input");
					if(quantity.value > 0){
						quantity.value = Number(quantity.value) - 1;
						
						
						
						var tr = minus.closest("tr");
						
						var unit = tr.querySelector("#inputProductdate");
						var discount = tr.querySelector("#discount");
						
						
						var total = tr.querySelector("#total");
						var num = (Number(quantity.value) *Number(unit.value));
						total.innerText = num.toFixed(1);
						console.log(num.toFixed(1));
					}
				
			})
		})
		
		
		var inputs = document.querySelectorAll("#inputProductdate");
		inputs.forEach(input=>{
			input.addEventListener("change", function (e){
				var tr = input.closest("tr");
				
				var quantity = tr.querySelector("#inputQuantity");
				var discount = tr.querySelector("#discount");
				
				
				var total = tr.querySelector("#total");
				var num = (Number(quantity.value) *Number(input.value));
				total.innerText = num.toFixed(1);
			})
		})
		
	</script>
	<script th:src="@{../../js/jquery.min.js}"></script>
	<script th:src="@{../../js/popper.js}"></script>
	<script th:src="@{../../js/bootstrap.min.js}"></script>
	<script th:src="@{../../js/main.js}"></script>

</body>

</html>