<!DOCTYPE html>
<html>


<body>
	<div class="wrapper d-flex align-items-stretch " ></div>
			<nav id="sidebar" class="" style="position: fixed; height: 100vh;overflow-y: scroll;" >
				<div class="p-4 pt-5" >
					<div class = "home-btn-slide-bar-admin" >
						<a href="/Employee/home">Employee Home</a>
						
					</div>
			        <ul class="list-unstyled components mb-5">
			          <li>
			              <a href="/Employee/myAccount">My Account</a>
			          </li>
			          <li>
			          	  <a href="/Employee/myContract">Contracts</a>			          	  
			          </li>
			          <li>
			              <a href="/Employee/listOrder">Order</a>
			          </li>
			          <li>
		              	  <a href="/Employee/listProduct">Product</a>
			          </li>
			          <li>
		              	<a href="/Employee/listProducer">Producer</a>
			          </li>			           
			          <li>
			              <a href="/Employee/listReceipt">Receipt</a>
			          </li>
			          <li>
		              	
			          </li>
			          <li>
		              <a href="/logout">Log out</a>
			          </li>
			        </ul>
	
		        <div class="footer">
		        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							  Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved
							  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
		        </div>
	      </div>
    	</nav>
</body>

</html>