<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head th:insert="Admin/import.html">

<body>
		
	

	<div class = "all" style = "display: flex;">
		<div th:insert="Admin/slideBar.html" style="height: 100%;"> </div>
		<div class ="wrapper-table-list-customer">
			<a th:href ="@{/Admin/AccountEmployee}"><button type="button" class="btn btn-light">Thoát</button></a>
			<section>
			
				<div class="container" style ="display: flex;">
									
					
					<div class="row d-flex justify-content-center align-items-center h-100 w-100">
						<div class="col-lg-12 col-xl-11">
							<div class="text-black" style="border-radius: 25px;">
								<div class="card-body p-md-5" style="padding-top: 0px !important;">
									<div class="row" style ="justify-content: flex-start;">
										<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

											<p class="text-center h1 fw-bold mx-1 mx-md-4">Tài khoản nhân viên</p>
											<form class="mx-1 mx-md-4" th:action="@{/Admin/saveAccountEmployee}" method="post" enctype="multipart/form-data">

												<p style="color:red;">[[${message}]]</p>
												
												<th:block th:if="${employee.id} == null">
													<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-user fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="text" id="form3Example1c" class="form-control" name="id" th:value="@{${employee.id}}"/>
														<label class="form-label" for="form3Example1c">id</label>
													</div>
												</div>
												</th:block>
												
												
												<th:block th:if="${employee.id} != null">
													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															<input type="text" id="form3Example1c" class="form-control" name="id" readonly th:value="@{${employee.id}}"/>
															<label class="form-label" for="form3Example1c">ID</label>
														</div>
													</div>
												</th:block>
												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-user fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="text" id="form3Example1c" class="form-control" name="nameemployee" th:value="@{${employee.nameemployee}}"/>
														<label class="form-label" for="form3Example1c">tên</label>
													</div>
												</div>
												
												<div class="d-flex align-items-center mb-4" style="flex-direction: column;">
													<label class="form-label" for="form3Example1c">ảnh</label>
													<img alt="Avatar" style="max-width: 200px;" th:src="@{'../../images/employee/'+ ${employee.photo}}">
													
													<input type="file" name="image" style ="width:100px;">
												</div>

												<div class="input_field radio_option sex-option-customer">
													<th:block th:if="${employee.gender} == true">
														<div>
												              <input type="radio" name="gender" id="rd1" value="true" style="padding-right: 30px;" checked="checked">
												              <label for="rd1">nam</label></div>
										            	<div>
												              <input type="radio" name="gender" id="rd2" value="false">
												              <label for="rd2">nữ</label></div> 
											            
											          </th:block>
											          <th:block th:unless="${employee.gender} == true">
														<div>
												              <input type="radio" name="gender" id="rd1" value="true" style="padding-right: 30px;" >
												              <label for="rd1">nam</label></div>
										            	<div>
												              <input type="radio" name="gender" id="rd2" value="false" checked="checked">
												              <label for="rd2">nữ</label></div> 
											            
											          </th:block>		
												</div>		
													
												<div class="input_field radio_option sex-option-customer">
													<th:block th:if="${employee.access} == true">
														<div>
												              <input type="radio" name="access" id="rd1" value="true" style="padding-right: 30px;" checked="checked">
												              <label for="rd1">truy cập</label></div>
										            	<div>
												              <input type="radio" name="access" id="rd2" value="false">
												              <label for="rd2">không truy cập</label></div> 
											            
											          </th:block>
											          <th:block th:unless="${employee.access} == true">
														<div>
												              <input type="radio" name="access" id="rd1" value="true" style="padding-right: 30px;" >
												              <label for="rd1">truy cập </label></div>
										            	<div>
												              <input type="radio" name="access" id="rd2" value="false" checked="checked">
												              <label for="rd2">không truy cập</label></div> 
											            
											          </th:block>		
												</div>			
												
												<div class="input_field radio_option sex-option-customer">
													<th:block th:if="${employee.activated} == true">
														<div>
												              <input type="radio" name="activated" id="activated" value="true" style="padding-right: 30px;" checked="checked">
												              <label for="rd1">kích hoạt</label></div>
										            	<div>
												              <input type="radio" name="activated" id="activated" value="false">
												              <label for="rd2">không kích hoạt</label></div> 
											            
											          </th:block>
											          <th:block th:unless="${employee.activated} == true">
														<div>
												              <input type="radio" name="activated" id="activated" value="true" style="padding-right: 30px;" >
												              <label for="rd1">kích hoạt</label></div>
										            	<div>
												              <input type="radio" name="activated" id="activated" value="false" checked="checked">
												              <label for="rd2">không kích hoạt</label></div> 
											            
											          </th:block>		
												</div>									

												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="email" id="form3Example3c" name ="email" class="form-control" th:value="@{${employee.email}}" />
														<label class="form-label" for="form3Example3c">Email</label>
													</div>
												</div>
												
												<div class="d-flex flex-row align-items-center mb-4">													
													<i class="fas fa-location-dot fa-lg me-3 fa-fw "></i>		
													<div class="form-outline flex-fill mb-0">
														<input type="text" id="form3Example3c" name ="address" class="form-control" th:value="@{${employee.address}}" />
														<label class="form-label" for="form3Example3c">Địa chỉ</label>
													</div>
												</div>

												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="password" id="form3Example4c"
															class="form-control" name="pass" th:value="@{${employee.pass}}" />
														<label class="form-label" for="form3Example4c" >Mật khẩu</label>
													</div>
												</div>

												
												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="text" id="form3Example4cd"
															class="form-control" name="numberphone" th:value="@{${employee.numberphone}}"/>
														<label class="form-label" for="form3Example4cd">SDT</label>
													</div>
												</div>
												
												<div class="d-flex flex-row align-items-center mb-4">
													<i class="fa-solid fa-calendar-days fa-lg me-3 fa-fw"></i>
													<div class="form-outline flex-fill mb-0">
														<input type="date" id="form3Example4c"
															class="form-control" name="birthdaye" th:value="@{${employee.birthday}}"/>
														<label class="form-label" for="form3Example4c">ngày sinh</label>
													</div>
												</div>	
														
												<select name="department">
												  	<th:block th:each="d : ${department}">
												  		<th:block th:if="${employee.department == d}"><option th:value="@{${d.id}}"  selected="selected">[[${d.namedepartment}]]</option></th:block> 
												  		<th:block th:unless="${employee.department == d}"><option th:value="@{${d.id}}" >[[${d.namedepartment}]]</option></th:block> 
												  		
												  	</th:block>
												</select>
												
												<select name="empolyeetype">
												  	<th:block th:each="e : ${employeeType}"> 
													  	<th:block th:if="${employee.empolyeetype == e}"><option th:value="@{${e.id}}"  selected="selected"  name="empolyeetype">[[${e.nameemployeetype}]]</option></th:block>
													  	<th:block th:unless="${employee.empolyeetype == e}"><option th:value="@{${e.id}}" name="empolyeetype">[[${e.nameemployeetype}]]</option></th:block>
												  		
												  	</th:block>
												</select>								

												<div class="d-flex justify-content-center mx-4 mb-3 mt-5 mb-lg-4">
													<button type="submit"
														class="btn btn-primary btn-lg">lưu</button>
												</div>

											</form>

										</div>
										
									</div>
								</div>
							
							<p style="color: red;">[[${messageContract}]]</p>
								
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	<script th:src="@{../../js/jquery.min.js}"></script>
	<script th:src="@{../../js/popper.js}"></script>
	<script th:src="@{../../js/bootstrap.min.js}"></script>
	<script th:src="@{../../js/main.js}"></script>
	<script>
		qltk = document.querySelector(".qltk");
		qltk.classList.add("active")
		
		qltk1 = document.querySelector(".qltk2");
		qltk1.classList.add("active")
		qltk1 = document.querySelector(".qltk2");
		qltk1.classList.add("li-con")
	</script>

</body>

</html>