<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="import/import.html">

<body>
	<div class="all" style="display: flex;">
		<div th:insert="Admin/slideBar.html"></div>

		<div class ="wrapper-table-list-customer">
			<h2>Loại nhân viên</h2>
			<p style="color: red;">[[${message}]]</p>
			<table class="table table-hover">
				<thead style="background-color: #353a40; color: #ccc;">
					<tr>
						<th>id</th>
						<th>tên loại nhân viên</th>									
						<th></th>
					</tr>
				</thead>
				<tbody th:each="bonus : ${listEmployeeType}">
				
					<tr>						
						<td>[[${bonus.id}]]</td>
						<td>[[${bonus.nameemployeetype}]]</td>						
						<td>		
							<a >
								<i class="fa-solid fa-circle-info" style="color: #1e3050;"></i>
							</a>					
							<a >
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
					</tr>
					
				
				</tbody>
				<tr>
						<td colspan="3"><a  style="color: #1e3050;"><i class="fa-solid fa-plus" style="color: #1e3050;margin-right: 5px;"></i>Add new Category</a></td>
					</tr>
			</table>
		</div>
	</div>

	</section>
	<script th:src="@{../../js/jquery.min.js}"></script>
	<script th:src="@{../../js/popper.js}"></script>
	<script th:src="@{../../js/bootstrap.min.js}"></script>
	<script th:src="@{../../js/main.js}"></script>

</body>

</html>