<!DOCTYPE html>
<html>


<body>
	<div class="wrapper d-flex align-items-stretch " ></div>
			<nav id="sidebar" class="" style="position: fixed; height: 100vh;overflow-y: scroll;" >
				<div class="p-4 pt-5" >
					<div class = "home-btn-slide-bar-admin" >
						<a href="/Employee/home">Menu nhân viên</a>
						
					</div>
			        <ul class="list-unstyled components mb-5">
			          <li class="cursorr link1">
			              <a href="/Employee/myAccount">Tài khoản của tôi</a>
			          </li>
			          
			          <li class="cursorr link2">
			              <a href="/Employee/listOrder">Quản lý phiếu đặt</a>
			          </li>
			          <li class="cursorr link3">
		              	  <a href="/Employee/listProduct">Quản lý sản phẩm</a>
			          </li>
			          <li class="cursorr link4">
		              	<a href="/Employee/listProducer">Quản lý nhà cung cấp</a>
			          </li>			           
			          <li class="cursorr link5">
			              <a href="/Employee/listReceipt">Quản lý phiếu nhập</a>
			          </li>
			          
			          <li class="cursorr">
		              <a href="/logout">Đăng xuất</a>
			          </li>
			        </ul>
	
		        
	      </div>
    	</nav>
</body>

</html>